p {
  color: #2B5275 ;
  font-size: 15px;
  margin: 5 auto;
  padding:10px 10px 10px 10px;
  border: 1px solid gray ;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color:#154673 ;
  text-shadow: 3px 3px 10px gray;
}

h2 {
  text-align: center;
  color:#A5AFB9 ;
  text-shadow: 3px 3px 15px gray;
}

h3, h4 {
  color:black ;
  text-shadow: 3px 3px 15px gray;
}

p, li {
  font-size: 17px;
  /* line-height: 2;
  letter-spacing: 1px; */
}

#quotation {
  font-style: italic;
}

.para {
  font-size: 15px;
  color: #154673;
}

.img-ai-nodes {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}

.img-blue-kit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.5);
}

body {
  margin: 5 auto;
  padding:0 20px 20px 20px;
  width:auto;
  /* border:4px solid black; */
}

html {
  background-color: #F3F3F3;
  font-family: "Trebuchet MS", "Open Sans", Tahoma, Arial;
}
